* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

[class^=container].container-narrow , [class^=container].container-wide {
    margin: auto;
    width: 95%;
}

.container-narrow {
    max-width: 1000px;
}

.container-wide {
    max-width: 1250px;
}

/* Header */
header {
    background-color: #404eed;
}
.sticky-header {
    background-color: #404eed;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

/* Navigation bar on header */
.sticky-header > nav {
    min-height: 4rem;
}

.sticky-header > nav > div {
    width: 20%;
}

/* Text ink on navigation bar */
.sticky-header > nav > ul {
    width: 60%;

    list-style: none;
    justify-content: center;
}

.not-sticky-header {
    padding: 1.5rem 0;
}

/* Main */
main > section {
    padding: 2.5rem 0;
}

main > section:nth-child(even) {
    background-color: #f6f6f6;
}

.column-img {
    width: 60%;
}

.column-txt {
    width: 40%;
}

/* Footer */
footer {
    background-color: #23272a;
}

#foter-main-nav {
    align-items: flex-start;
}

.socials-and-lang {
    width: 40%;
}

.nav-details {
    width: 20%;
}